<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('¿Estas seguro de querer eliminar la categoría?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn btn-danger mr-2">Eliminar</button>
</form>
